---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Partidos from "./partidos.astro";

---

<Layout title="Academia soccer life">
  <main class="dark:text-white">
    <div class="">
      <p></p>
    </div>
    <div
      id="presentacion"
      class="relative bg-cover bg-center h-screen bg-[url('/equipo.jpg')] text-center grid items-center"
    >
      <div class="absolute inset-0 bg-black opacity-60"></div>
      <div class="relative z-10 text-white p-8">
        <h1 class="text-6xl font-bold">¡Academia Soccer Life!</h1>
        <p>
          Academia 100% formativa, en la cual el niño y la niña aprendan del
          fútbol jugando con disciplina.
        </p>
      </div>
    </div>
	<div id="partidos_recientes" class="p-2 h-screen text-center">
		<h2 class="text-2xl">
			¡Partidos proximos!
			<Partidos></Partidos>
		</h2>

		<a href="/partidos" class="bg-red-700 font-bold p-2 rounded">Ver todos nuestros partidos</a>
	</div>
	<div id="apoyanos">
		<h2>
			Si quieres apoyarnos para que nuestro equipo pueda crecen y alcanzar las grandes ligas,
			considera donar en el botón de <span class="text-red-500">donar</span>
		</h2>
	</div>
  </main>
</Layout>
