---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <main>
        <h1 class="">
            Estamos trabajando en ello, aún no se desesperen, a toda marcha estamos allí echandole ganas
            <img src="/trabajando.gif" alt="gato trabajando">
        </h1>
    </main>
</Layout>