---
let partido = {
    nombre_visitante: '',
    nombre_locales: '',
    fecha: new Date,
    envivo: false,
}

let partidos = [
    partido
]
---

<div id="proximos_partidos">
    <h3>¡Partidos proximamente!</h3>
    <img src="/equipo.jpg"></img>
</div>